
/* шапка*/
body{
  background-color: rgb(231, 83, 83);

  background-image: url("/img/kos22.jpg");
  background-size: cover;
  background-color: aliceblue;
}
.shapka {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 20px;
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: 600;

  padding-bottom: 20px;
}
.about-text {
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.507);
}
.about {
  position: relative;

  margin-left: 20px;

  padding-bottom: 20px;
  width: 40%;
}
.about p a {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  background-color: blueviolet;
  font-size: medium;
  margin-left: 20px;
  color: aliceblue;
  border: 2px solid rgb(255, 59, 59);

  border-radius: 2px;
}
.about p {
  padding: 10px;
}
.menu li a {
  text-decoration: none;
  color: rgb(69, 0, 133);
}
.kart {
  width: 40%;
  object-fit: cover;
  right: 0px;
  float: right;
  margin: 0px;
  margin-right: 20px;

  border: 10px solid lawngreen;
}

@media screen and (max-width: 500px) {

  
  .shapka {
    display: block;
    margin-top: 30px;
  }
  .kart {
    float: right;
    width: 90%;
    margin-top: 20px;
    margin-right: 3px;
  }
  .about {
    width: 94%;

    margin: 0px;
  }
  .about-text {
    font-size: 30px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 700px) {
  .shapka {
    gap: 30px;
    justify-content: baseline;
  }

  .about {
    width: 55%;
  }
  .kart {
    width: 40%;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .about-text {
    font-size: 40px;
    padding-right: 10px;
  }
  .about {
    width: 50%;
    margin-left: 1px;
  }
  .kart {
    width: 45%;
    margin-left: 10px;
    margin-right: 5px;
    border: 2px solid lawngreen;
  }

  
}
